.header {
  padding: 20px 0;
  background: linear-gradient(to bottom, color(blue-dark) 0%,color(blue-light) 100%);
  color: white;

  .widget {
    margin-bottom: 0;
    font-size: 14px;
  }

  .widget-social {
    @extend .widget;
    font-size: 18px;
  }

  .widget–auth {
    @extend .widget;
  }

}

@media screen and(min-width: breakpoint(sm)) {

  ul {
    margin: 0;
  }

  header {
    padding: 10px 0 !important;
  }

  .widget-social {
    font-size: 14px !important;
  }

  .widget–auth {
    i {
      display: none;
    }
  }

}

.header-contact {
  display: flex;
  justify-content: space-between;

  a {
    font-size: 13px;
  }

  @media screen and(min-width: breakpoint(sm)) {
    justify-content: flex-start;

    a {
      font-size: inherit;
    }

    li:last-child {
      padding-left: 25px;

      @media screen and(min-width: breakpoint(md)) {
        padding-left: 50px;
      }

    }
  }

}

.header-auth {
  display: flex;
  justify-content: center;

  @media screen and(min-width: breakpoint(sm)) {
    justify-content: flex-end;
  }

}


