.modal-wrapper {
  position: relative;
  max-width: 400px !important;
  width: 100%;
}

.custom-overlay {
  background: linear-gradient(to bottom, #002e67 0%, #42648e 100%) !important;
}

.modal-content {
  padding: 20px;
  border: none !important;

  &__logo {
    display: none;

    @media screen and(min-width: breakpoint(sm)) {
      display: block;
    }
  }

}

.modal-decorator {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
}