.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 !important;
}

.owl-prev,
.owl-next {
  background: rgba(black, .1) !important;
  padding: 25px !important;
  margin: 0 !important;
}

.owl-prev {
  position: absolute;
  left: 0 !important;
}

.owl-next {
  position: absolute;
  right: 0 !important;
}
