@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/hover.css/css/hover-min";
@import "../../../node_modules/video-react/styles/scss/video-react";

@import "components/config";
@import "components/helpers";
@import "components/header";
@import "components/nav";
@import "components/feature";
@import "components/about";
@import "components/owl";
@import "components/polular-course";
@import "components/footer";
@import "components/sticky-header";
@import "components/modal";
@import "components/search";
@import "components/courses";
@import "components/cardCourse";

.filter-wrapper {
  transition: all .3s ease-out;
}


$font-size: 14px;
$padding: 10px 20px;

.label {
  display: block;
  font-size: $font-size;
}

.input {
  position: relative;
  outline: 0;
  background: color(gray-input);
  border: 0;
  margin: 5px 0 15px 0;
  padding: $padding;
  font-size: $font-size;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: $font-size;
  pointer-events: none;
  color: #aaa;
}

.button {
  text-transform: uppercase;
  outline: 0;
  background-color: color(blue-dark);
  border: 0;
  padding: $padding;
  color: white;
  font-size: $font-size;
  cursor: pointer;
  transition: all .3s ease;

  &:hover {
    background-color: darken(color(blue-dark), 10%);
  }

  &--rounded {
    border-radius: 20px;
  }

  &--small {
    padding: 5px 10px;
  }

}

.basic-shadow {
  box-shadow: 0 0 5px rgba(black, .1);
}

.my-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;

  &__title {

  }

  &__submenu {
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 1000;
    min-width: 170px;
    background: white;
    display: none;
    text-align: center;
    box-shadow: 0 0 5px rgba(black, .3);

    a {
      color: black;
      padding: 10px 0;
      border: 1px solid #F5F5F5;

      &:hover {
        background: #f2f2f2;
        color: color(blue-dark);
      }

    }
  }

  &:hover &__submenu {
    display: block;
  }

}

.visibility-child * {
  visibility: visible !important;
}

/*
 * React-spinkit
 */
.sk-fade-in {
  animation: sk-fade-in .3s !important;
}
/*
 * END React-spinkit
 */
